body {
    background-color: #555;

}

a {
    color: red;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    color: lightgreen;
    text-decoration: underline;
}

a:visited {
    color: pink;
}

p,
li,
span {
    color: white;
}

p::first-letter {
    font-size: 30px;
}

p#desc {
    font-style: italic;
}

.title {
    color: lightskyblue;
    font: italic 30px "Trebuchet MS";
    text-align: center;
}

ul li.courses {
    background-color: brown;
}

DT,
.hobby {
    color: yellow;
    font-weight: bold;
}

ol {
    transform: rotate(180deg);
}

ol li {
    margin-right: 50px;
    transform: rotate(180deg);
}